body, a, p, ul,li {
margin:0;
padding:0;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
list-style: none;
color: black;
}
a{
    text-decoration: none;
}
.header{
    padding: 10px;
    display:flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    flex-wrap:#;
}

.menu  {
    display:flex;
    flex-wrap: wrap;
}

.menu li {
margin: 10px;
}
.menu li a{
display: block;
padding:15px;
color: rgb(255, 255, 255);
background-color: aqua;
}
.logo{
    font-size: larger;
    color: white;
    margin-left: 35px;
    flex-wrap: wrap;
}
    
.categorias{
    display: flex;
    font-size:15px ;
    color: black;
    justify-content:space-evenly;
    background-color: aqua;
    flex-wrap:;
    align-items:;
}
.categorias li{
    background-color: aquamarine;
    height: 45px;
    align-items:;
}
.produtos{
    display: flex;
    height: 600px;
    background-color: blueviolet;
    gap: 10px;
    justify-content:center;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    

}
.produtos li{
    width:300px;
    height:300px;
    background-color: rgb(43, 150, 150);
}
.item{
    /* align-self: flex-end; */
    order: ;
}
