@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal{
    text-align: center;
    background-color: rgb(1, 52, 35);
    color: white;
}
h1{
    color: rgb(1, 52, 35);
}
h2{
    color: rgb(1, 52, 35);
}